pandas==2.2.*
numpy==1.26.*
sqlalchemy==2.0.*
kaggle==1.6.*
python-dotenv==1.0.*

# Part 2+
jupyter==1.0.*
ipykernel==6.29.*

# Part 3+
plotly==5.22.*
streamlit==1.35.*

# Part 4+
scikit-learn==1.5.*
xgboost==2.0.*
joblib==1.4.*
imbalanced-learn==0.12.*

# Part 5+
google-generativeai==0.7.*
